name: CMake on a single platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Navigate to build
      run: cd ${{github.workspace}}/build

    - name: Run Cmake
      run: cmake ..

    - name: Run Make
      run: make

    - name: Test
      run: ctest

