name: CMake on a single platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Print Working Directory
      run: pwd

    - name: Print dir contents
      run: ls -la

    - name: Change directory
      run: cd tangerine

    - name: Print Working Directory
      run: pwd

    - name: Print dir contents
      run: ls -la

    - name: Change directory
      run: cd tangerine

    - name: Navigate to build
      run: cd build

    - name: Run Cmake
      run: cmake ..

    - name: Run Make
      run: make

    - name: Test
      run: ctest

