name: CMake on a single platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run Cmake
      run: cmake -S ./tangerine -B ./tangerine/build

    - name: Run Make
      run: cd ./tangerine/build && make

    - name: Test
      run: ctest

